*{
    padding:0;
    margin: 0;
    border: none;
}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif
    /* 'Roboto' (1순위 폰트): 브라우저에게 가장 먼저 이 폰트로 
    글자를 보여달라고 요청하는 것 구글이 안드로이드 및 웹용으로 
    개발한 매우 깔끔하고 가독성이 높은 고딕 계열 폰트입니다.

    , (쉼표): "만약 앞에 있는 폰트가 없다면, 다음 폰트를 적용해라"라는
    뜻의 예비책(Fallback) 표시

    sans-serif (최후의 보루): 특정 폰트 이름이 아니라 
    '삐침이 없는 고딕체 계열의 총칭' 사용자 컴퓨터나 스마트폰에 
    'Roboto' 폰트가 설치되어 있지 않거나 웹 폰트 로딩에 실패했을 때,
    그 기기에 내장된 가장 기본 고딕체(예: 맑은 고딕, Apple SD 산돌고딕 Neo 등)를 대신 띄우라는 명령 */
}
.login{
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    /* CSS에서 box-sizing: border-box는 
    박스 모델(Box Model)의 크기 계산 방식을 바꾸는 
    웹 퍼블리싱/프론트엔드 개발의 필수 레이아웃 속성
    
    내가 지정한 width와 height 안에 패딩(padding)과
    테두리(border)를 다 포함시켜라"라는 뜻*/
}
.login > h2{
    font-size: 24px;
    color: #6A24FE;
    margin-bottom: 20px;
    /* 선택한 요소의 아래쪽 바깥 여백을 설정하는 코드 */
}
#login_form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    /* 모서리를 부드럽고 둥글게 깎아주는 코드 */
    background-color: #f8f8f8;
}
#login_form > input::placeholder{
    color: #D2D2D2;
}
#login_form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #6A24FE;
    margin-top: 20px;
}
#login_form > input[type="checkbox"]{
    display: none;
}
#login_form > label{
    color: #999999;
}
#login_form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-image: url("checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#login_form input[type="checkbox"]:checked + label{
    background-image: url("checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
}